@model easylife.Models.UserDashboardViewModel.myAddressViewModel
@{
    ViewBag.Title = "EasyLife | Dashboard |Manage Address";
}
<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index","UserHome")><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href=@Url.Action("dashboard", new { id=Model.MemberId })><i class="fa fa-dashboard"></i>Dashboard</a></li>
						<li><a  class="active"><i class="fa fa-dashboard"></i>Manage Address</a></li>
						
						</ol>
					</div>
					
					
					
					<div class="container-fluid col-md-1"></div>
					<div class="container-fluid col-md-7">
						
						
						<table class="table table-striped ">
							
							<tbody>
                                @{var count=1;}
                                                    @foreach (var item in Model.Addresses)
                                                    {
								<tr>
								<td>
									<table class="table table-striped reg  ">
							                     
												<tbody>
												<p><b>Addresse  @count</b><p>
                                                   
													<tr>
                                                        <td>Address</td>
														<td>@item.MemberAddress</td>	
													</tr>
                                                       
												</tbody>
                                                         
											</table>
								
									
								</td>
                                    @if(Model.count!=0){
								<td>
									<p><a href=@Url.Action("removeAddress", new { id=item.AddressId,mid=item.MemberId})><span class="glyphicon glyphicon-trash point" title="Remove"></span></a></p>
								</td>
									}
								</tr>
                                                        count++;
                                                    }                
								 @using (Html.BeginForm("addAddress", "UserDashboard", new { mid = Model.MemberId }, FormMethod.Post))
                                        {					
								<tr>
									<td>
                                       
									<table class="table table-striped reg  ">
							
												<tbody>
												<p><b>Add new Address</b><p>
													<tr>
														<td>Address</td>
														<td><textarea id="fulladdress" name="fulladdress" rows="5" ></textarea></td>
													</tr>
													
												</tbody>
											</table>
									</td>
									
								</tr>
								<tr>
                                    
								<td colspan="2"><input type="submit" value="Add" class="btn btn-primary" style="margin-left:200px" /></td>
                                    
								</tr>
                                        }
								
								
							</tbody>
						</table>
						
						
						
					</div>