@model easylife.Models.myOrdersViewModel
@{
    ViewBag.Title = "EasyLife | Dashboard |My Orders";
}
					<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index","UserHome") ><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href=@Url.Action("dashboard", new { id=Model.MemberId}) ><i class="fa fa-dashboard"></i>Dashboard</a></li>
						<li><a  class="active"><i class="fa fa-dashboard"></i>My Orders</a></li>
						
						</ol>
					</div>
					
					
					
					
					<div class="container-fluid">
						
						
						<table class="table table-striped ">
							
							<tbody>
								<tr>
									
									<th>Invoice No</th>
									<th>Order Date</th>
									<th>Status</th>
									<th  colspan="2">Payment Status</th>
									
									
									
								</tr>
								@foreach (var item in Model.Invoices)
                                {
                                    <tr>
									    <td> <a href=@Url.Action("invoices", new { id=item.InvoiceId,mid=Model.MemberId})> @item.InvoiceId </a></td>
								        <td>@item.Date</td>
									    @if (item.Status == "0") {<td>On The Way</td> }
                                        @if (item.Status == "1") {<td>Delivered</td> }
                                        @if (item.Status == "2") {<td>Canceled</td> }
									    @if (item.PaymentStatus == "0") {<td>Unpaid</td> }
                                        @if (item.PaymentStatus == "1") {<td>Paid</td> }
									    <td><a href=@Url.Action("removeOrder", new { id=item.InvoiceId,mid=item.MemberId})><span class="glyphicon glyphicon-trash point" title="Remove"></span></a></td>
									
									
								    </tr>
								}
								
								
								
							</tbody>
						</table>
						
						
						
					</div>	