@model easylife.Models.myReviewsViewModel
@{
    ViewBag.Title = "EasyLife | Dashboard |My Reviews";
}
<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href=@Url.Action("index","UserHome")><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href=@Url.Action("dashboard", new { id=Model.MemberId }) ><i class="fa fa-dashboard"></i>Dashboard</a></li>
						<li><a  class="active"><i class="fa fa-dashboard"></i>My Reviews</a></li>
						
						</ol>
					</div>
					
					
					
					
					<div class="container-fluid">
						
						
						<table class="table table-striped ">
							
							<tbody>
								<tr>
									<th>Product</th>
									<th>Product Name</th>
									<th>Product Price</th>
									<th colspan="2">Review</th>
									
									
									
								</tr>
								@{var count=0;}
                                @foreach(var item in Model.Reviews)
                                {
								    <tr>
									    <td><a href=@Url.Action("details","UserHome", new { id=item.ProductId})>@Html.Raw(String.Format("<img class=\"img-circle user\" src=\"/resources/{0}.jpg\">",item.ProductId))</a></td>
									    <td><p>@Model.Products[count].ProductName</p></td>
									    <td>$@Model.Products[count].SellingPrice</td>
									    <td>@item.Review</td>
									    <td>Liked</td>
									
								    </tr>
                                    count++;
                                }
								
								
								
							</tbody>
						</table>
						
						
						
					</div>