<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href="index.html" ><i ></i> Home</a></li>
						<li><a class="active" ><i ></i>Reports</a></li>
						
						</ol>
					</div>
					
					<div class="container-fluid col-md-2"></div>
					
					<div class="container-fluid col-md-5">
						
						
						
						
						<table class="table table-striped ">
							
							<tbody>
								<tr>
									
									<th>Report Title</th>
									<td>Faulty Products</td>
									
									
		
								</tr>
								<tr>
									
									<th>Product Code</th>
									<td>3456789</td>
									
									
		
								</tr>
								
								<tr>
									<th>User Mail</th>
									<td>rakib@gmail.com</td>
									
									
									
								</tr>
								<tr>
									<th>Description</th>
									<td><textarea rows="" cols="30" placeholder="loreum ispum"></textarea></td>
								</tr>
								<tr>
									<td colspan="2">
										<p><a data-toggle="modal" data-target="#sucessModal"><button type="button" class="btn btn-info" >Submit</button></a></p>
									</td>
								</tr>
								
								
							</tbody>
						</table>

						
					</div>