<div class="container-fluid ">
						<ol class="breadcrumb">
						<li><a href="index.html" ><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a  class="active"><i class="fa fa-dashboard"></i>Track</a></li>
						
						</ol>
					</div>
						
					<div class="container-fluid col-md-2"></div>
					
					<div class="container-fluid col-md-5">
						
						
						
						
						<table class="table table-striped ">
							
							<tbody>
								<tr>
									
									<th>Email ID</th>
									<td>rakib@gmail.com</td>
									
									
		
								</tr>
								<tr>
									
									<th>Invoice Code</th>
									<td>34567890</td>
									
									
		
								</tr>
								
								
								<tr>
									<td colspan="2">
										<p><a data-toggle="modal" data-target="#trackModal"><button type="button" class="btn btn-info" >Track</button></a></p>
									</td>
								</tr>
								
								
							</tbody>
						</table>

						
					</div>	