@{
    ViewBag.Title = "Advertise";
}
		<style>
.w3-animate-bottom{overflow: scroll;
    overflow-x: hidden;
	position:relative;animation:animatebottom 0.4s} keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
	
	::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}
</style>
<body style="background-color:transparent"  >
<div class="product-wrapper" style="background-color:transparent;box-shadow: none;" >
					
						<img src="~/resources/slider1.jpg" alt="" width="250" height="250"/>
						<h4>Slider 1</h4>
						
						<button type="file" class="button" name="product_pic" accept="image/*">Browse</button>
						
					
					
				</div>
				
				<div class="product-wrapper" style="background-color:transparent;box-shadow: none;">
					
						<img src="~/resources/slider2.jpg" alt="" width="250" height="250"/>
						<h4>Slider 2</h4>
						<button type="file" class="button" name="product_pic" accept="image/*">Browse</button>
						
					
					
				</div>
				
				
				
				
				<div class="product-wrapper" style="background-color:transparent;box-shadow: none;">
					
						<img src="~/resources/slider3.jpg" alt="" width="250" height="250"/>
						<h4>Slider 3</h4>
						<button type="file" class="button" name="product_pic" accept="image/*">Browse</button>
						
					
					
				</div>
				
				<div class="product-wrapper" style="background-color:transparent;box-shadow: none;">
					
						<img src="~/resources/slider1.jpg" alt="" width="250" height="250"/>
						<h4>Slider 4</h4>
						<button type="file" class="button" name="product_pic" accept="image/*">Browse</button>
						
					
					
				</div>
</body>