

<!DOCTYPE cshtml PUBLIC "-//W3C//DTD Xcshtml 1.1//EN" "http://www.w3.org/TR/xcshtml11/DTD/xcshtml11.dtd">
<cshtml xmlns="http://www.w3.org/1999/xcshtml" xml:lang="en">
	<head>
		<title>CSS3 Bar Graphs</title>
		<meta http-equiv="content-type" content="text/cshtml; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="~/Styles/graph.css"/>
	</head>
	<body >
		<!-- css bar graph -->
		<div class="css_bar_graph bo">
			
			<!-- y_axis labels -->
			<ul class="y_axis">
				<li>100%</li><li>80%</li><li>60%</li><li>40%</li><li>20%</li><li>0%</li>
			</ul>
			
			<!-- x_axis labels -->
			<ul class="x_axis">
				<li>November</li><li>December</li><li>January</li><li>February</li><li>March</li>
			</ul>
			
			<!-- graph -->
			<div class="graph">
				<!-- grid -->
				<ul class="grid">
					<li><!-- 100 --></li>
					<li><!-- 80 --></li>
					<li><!-- 60 --></li>
					<li><!-- 40 --></li>
					<li><!-- 20 --></li>
					<li class="bottom"><!-- 0 --></li>
				</ul>
				
				<!-- bars -->
				<!-- 250px = 100% -->
				<ul>
					<li class="bar nr_1 blue" style="height: 125px;"><div class="top"></div><div class="bottom"></div><span>50%</span></li>
					<li class="bar nr_2 blue" style="height: 225px;"><div class="top"></div><div class="bottom"></div><span>90%</span></li>
					<li class="bar nr_3 blue" style="height: 75px;"><div class="top"></div><div class="bottom"></div><span>30%</span></li>
					<li class="bar nr_4 blue" style="height: 100px;"><div class="top"></div><div class="bottom"></div><span>40%</span></li>
					<li class="bar nr_5 blue" style="height: 150px;"><div class="top"></div><div class="bottom"></div><span>60%</span></li>
				</ul>	
			</div>
			
		
		</div>
	</body>
</cshtml>
