@{
    ViewBag.Title = "Set Coupon";
}

		
			
			<div class="main-div">
				
				<div  style="width:50%;height:600px;background-color:white;">
					<table>
                            <tr  style="background-color:whitesmoke;" >
                                   <td colspan="2">Add Coupon</td>  
                                    
                            </tr>
                         <tr   >
                                   <td colspan="2"><hr></td>  
                                    
                            </tr>


                        <tr>
                            <td>Memeber Id:</td><td><label>1</label></td>




                        </tr>
                        <tr>
                            <td>Percentage:</td><td><input value="2/11/2018">%</td>

                        </tr>
                        <tr>
                            <td>Issue Date:</td><td><input value="30/10/2018"></td>

                        </tr>
                        <tr>
                            <td>Expire Date:</td><td><input value="2/11/2018"></td>

                        </tr>
                       
                           
                        
                            
                        
					</table>
                    <hr>
                    <table>
                            <tr >
                                   <td><button class="button" onclick="confirmm()">Add</button></td>
                                 <td><a href="@Url.Action("View_Users")"><button class="button">Cancel</button></a></td>   
                                    
                            </tr>
                            
                        
                        
					</table>

					
						
					</div>
					<!--<img src="resources/1.jpg" width="80%" height="300px" align="center"/> -->
				</div>
				
		
		<script>
function confirmm() {
    var txt;
    if (confirm("Add cupon ?")) {
        alert("Added Succesfully");
		window.open('@Url.Action("View_Users")','_self');
		
    } else {
        txt = "You pressed Cancel!";
    }
    document.getElementById("demo").innercshtml = txt;
}		
	
</script>			
	

